body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(8, 79, 126);
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    position: relative;
    animation: moveBanner 5s linear infinite alternate;
    white-space: nowrap;
}

@keyframes moveBanner {
    0% {
        left: -10%;
    }
    100% {
        left: 10%;
    }
}

#home {
    background-image: url(./images/phantom-wallet-camera-mint-principal.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    text-align: center;
    padding: 6px 2px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: zoomEffect 10s ease-in-out infinite;
    min-height: 500px;
}

@keyframes zoomEffect {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 110%;
    }
    100% {
        background-size: 100%;
    }
}

#home h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    animation: moveBanner 5s linear infinite alternate;
    white-space: nowrap;
    text-decoration: underline;
}

#home h2:hover {
    text-decoration: underline;
    color: #40b3cf;
}

#home p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li:hover {
    background-color: #40b3cf;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: underline;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background: linear-gradient(to bottom, #276894, #f4f4f4);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
}

section {
    background: rgb(204, 189, 189);
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
}

h2 {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #219bc0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}